@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

/* ticket overview style */

.body_overview {
    background-color: #e0e0e0;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#info {
    text-align: center;
}

.navBar {
    background-color: rgb(160, 40, 40);
    color: salmon;
    padding: 4vh;
}

.navBar a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.navBar h1 span {
    color: black;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
}

.renderTicketCardContainer {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #fff;
    /* border: 2px solid rgb(160, 40, 40); */
    border-radius: 6px;
    padding: 16px;
    margin: 1em;
}

.renderTicketCardContainer h4 a,
#incidentById h4 span {
    text-decoration: none;
    color: rgb(160, 40, 40);
}

/* create ticket style */

.createTicket_display h2 {
    text-align: center;
}

.heading_and_button_flexbox {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

#openForm {
    border: none;
    cursor: pointer;
    width: 20px;
}

.body_createTicket {
    background-color: beige;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    background-color: rgb(211, 153, 153);
    border: 12px solid rgb(160, 40, 40);
    border-radius: 6px;
    padding: 16px;
    margin: 1em;
    width: 500px;

}

#form .textInputs label,
#form .textInputs label,
#form .textInputs input,
#form .textInputs textarea {
    display: block;
    padding: 0.2em;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 16px 0;
}

#form .textInputs input::placeholder,
#form .textInputs textarea {
    font-family: "Rajdhani", sans-serif;
}

.submitTicket_container {
    margin: 2em 0;
}

.submitButton {
    width: 100px;
    /* padding: 10px 16px; */
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    touch-action: manipulation;
    border-radius: 8px;
    border: 0;
    padding: 10px 16px;
    background-image: linear-gradient(to bottom, #84b709, #46a100);
    box-shadow: inset 0 -2px Rgb(0 0 0/0.2), 0 2px 4px Rgb(0 0 0/0.2);
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    color: #fff;
    transition-property: transform, opacity;
    transition-duration: .4s, .2s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1), ease-in-out;
}

/* detail page style */
#detailBody {
    background-color: #e0e0e0;
}

.editLink {
    width: 100px;
    /* padding: 10px 16px; */
    display: inline-block;

    text-decoration: none;
    touch-action: manipulation;
    border-radius: 8px;
    border: 0;
    padding: 10px 16px;
    background-image: linear-gradient(to bottom, #84b709, #46a100);
    box-shadow: inset 0 -2px Rgb(0 0 0/0.2), 0 2px 4px Rgb(0 0 0/0.2);
    text-align: center;
    font-weight: 400;
    color: #fff;
    transition-property: transform, opacity;
    transition-duration: .4s, .2s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1), ease-in-out;
}

.editLink:active:not(:disabled) {
    text-decoration: none;
    transform: scale(0.92);
}

.editLink:disabled {
    background-image: linear-gradient(to bottom, #9f9f9f, #848484);
    cursor: not-allowed;
}

.editLink:disabled {
    opacity: .4;
}

.deleteButton {
    font-family: "Rajdhani", sans-serif;
    font-size: large;
    width: 134px;
    display: inline-block;
    padding: 10px 16px;
    margin: 10px;
    touch-action: manipulation;
    border-radius: 8px;
    border: 0;
    background-image: linear-gradient(to bottom, rgb(180, 20, 20), rgb(160, 40, 40));
    box-shadow: inset 0 -2px Rgb(0 0 0/0.2), 0 2px 4px Rgb(0 0 0/0.2);
    text-align: center;
    font-weight: 400;
    color: #fff;
    transition-property: transform, opacity;
    transition-duration: .4s, .2s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1), ease-in-out;

}

.deleteButton:active:not(:disabled) {
    transform: scale(0.92);
}

.deleteButton:disabled {
    background-image: linear-gradient(to bottom, #9f9f9f, #848484);
    cursor: not-allowed;
}

.deleteButton:disabled {
    opacity: .4;
}