body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* ticket overview style */

.body_overview {
    background-color: #e0e0e0;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.navBar {
    background-color: rgb(160, 40, 40);
    color: salmon;
    padding: 4vh;
}

.navBar a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
}

.renderTicketCardContainer {
    background-color: #fff;
    border: 2px solid rgb(160, 40, 40);
    border-radius: 6px;
    padding: 16px;
    margin: 1em;
}

.renderTicketCardContainer h4 a {
    text-decoration: none;
    color: rgb(160, 40, 40);
}

/* create ticket style */

.createTicket_display h2 {
    text-align: center;
}

.heading_and_button_flexbox {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

#openForm {
    border: none;
    cursor: pointer;
    width: 20px;
}

.body_createTicket {
    background-color: beige;
}

#form {
    background-color: rgb(211, 153, 153);
    border: 12px solid rgb(160, 40, 40);
    border-radius: 6px;
    padding: 16px;
    margin: 1em;
}

#form label,
#form input {
    display: block;
    padding: 0.2em;
}



/* detail page style */
#detailBody {
    background-color: chocolate;
}